---
priority: 0.2
---
{% extends "base.njk" %}

{% block content %}

  <article class="primary slantdark1">

    <h1>
      {{ title }}
      {% if pagination.pages.length > 1 %} <span>page {{ pagination.pageNumber + 1 }} of {{ pagination.pages.length }}</span>{% endif %}
    </h1>

    {{ content | safe }}

    {% include "./partials/_pagedlist.njk" %}

  </article>

  {% include "./partials/_pagination.njk" %}

{% endblock %}
