---
priority: 0.2
---
{% extends "page.njk" %}

{% block content %}

  <h1>
    {{ title }}{% if pagination.pages.length > 1 %}: page {{ pagination.pageNumber + 1 }} of {{ pagination.pages.length }}{% endif %}
  </h1>

  {{ content | safe }}

  {% include "./partials/_pagedlist.njk" %}

  {% include "./partials/_pagination.njk" %}

{% endblock %}
