{% include "./partials/_htmlhead.njk" %}

{% include "./partials/_header.njk" %}

{% block content %}

  <h1>{{ title }}</h1>

  {{ content | safe }}

{% endblock %}

{% include "./partials/_pagelist.njk" %}

{% include "./partials/_taglist.njk" %}

{% include "./partials/_footer.njk" %}

<nav id="menu">
  {% navlist collections.all | eleventyNavigation, page, 2 %}
</nav>

{% include "./partials/_htmlfoot.njk" %}
