{% include "./partials/_htmlhead.njk" %}

{% include "./partials/_header.njk" %}

<main>

  <article>
    {% block content %}

      <h1>{{ title }}</h1>

      {{ content | safe }}

    {% endblock %}
  </article>

  {% include "./partials/_taglist.njk" %}

  {% include "./partials/_nextback.njk" %}

</main>

{% include "./partials/_footer.njk" %}

{% include "./partials/_htmlfoot.njk" %}
