---
priority: 0.2
---
{% extends "base.njk" %}

{% block content %}

  <article class="primary slantdark1">

    <h1>{{ title }}</h1>

    {{ content | safe }}

    {% set pagedlist = collections[ tag ] %}
    {% include "./partials/_pagedlist.njk" %}

    <p><a href="{{ '/tag/' | url }}" class="icon tag">all topics</a></p>

  </article>

{% endblock %}

{% block schema %}
{% endblock %}
