---
priority: 0.9
---
{% extends "base.njk" %}

{% block content %}

  <article class="primary slantdark1">

    <h1>{{ title }}</h1>

    {% if date %}<p class="time"><time datetime="{{ date | dateymd }}">{{ date | datefriendly }}</time></p>{% endif %}

    <p class="words">{{ content | wordcount | readtime }}</p>

    {{ content | safe }}

  </article>

{% endblock %}
