---
priority: 0.9
---
{% extends "base.njk" %}

{% block content %}

  <article class="primary slantdark1">

    <h1>{{ title }}</h1>

    {% if date %}<p class="time"><time datetime="{{ date | dateymd }}">{{ date | datefriendly }}</time></p>{% endif %}

    <p class="words">{{ content | wordcount | readtime }}</p>

    {{ content | safe }}

    <hr />

    <p><a href="{{ '/' | url }}"><em>"Docker for Web Developers"</em></a> is an easy-to-follow book &amp; video course demonstrating how to set-up practical web development and deployment environments&hellip;</p>

    {% include "./snippets/_prices.html" %}

  </article>

{% endblock %}
