---
priority: 0.9
---
{% extends "base.njk" %}

{% block content %}

  <article class="primary slantdark1">

    <h1>{{ title }}</h1>

    {% if date %}<p class="time"><time datetime="{{ date | dateymd }}">{{ date | datefriendly }}</time></p>{% endif %}

    <p class="words">{{ content | wordcount | readtime }}</p>

    {{ content | safe }}

    <hr />

    <p>Do you want an easy-to-follow course which demonstrates how to use Docker and create practical web development environments on your Windows, macOS, or Linux PC?</p>

    <p><a href="{{ '/' | url }}"><em>Buy "Docker for Web Developers" today&hellip;</em></a></p>

  </article>

{% endblock %}

{% block schema %}

<script type="application/ld+json">{
"@context": "http://schema.org/",
"@type": "TechArticle",
"proficiencyLevel": "beginner",
"headline": "{{ title }}",
"description": "{{ description }}",
"datePublished": "{{ date | dateymd }}",
"dateModified": "{{ date | dateymd }}",
"inLanguage": "English",
"contentLocation": "online",
"accessMode": ["textual"],
"accessModeSufficient": "textual",
"isFamilyFriendly": true,
"wordCount": "{{ content | wordcount }}",
"mainEntityOfPage": {
"@type": "WebPage",
"@id": "{% meta 'url' %}{{ page.url | url }}"
},
"image": {
"@type": "imageObject",
"url": "{% meta 'url' %}{{ '/images/docker-for-web-developers.png' | url }}",
"width": "1000",
"height": "500"
},
"author": {
"@type": "Person",
"name": "{% meta 'author' %}"
},
"publisher": {
"@type": "Organization",
"name": "{% meta 'site' %}",
"logo": {
"@type": "ImageObject",
"url": "{% meta 'url' %}{{ '/images/icon/logo.png' | url }}",
"width": 50,
"height": 50
}
}
}</script>

{% endblock %}
