p, ul, ol, blockquote {
  margin-top: 1em;
}

h2 + p, h3 + p {
  margin-top: 0.2em;
}

blockquote {
  background-color: var(--col-back2);
  border-left: 1vw solid var(--col-back3);
  clip-path: polygon(0% 0%, 100% 15%, 100% 85%, 0% 100%);
}

blockquote:nth-of-type(2n) {
  border-left: 0 none;
  border-right: 1vw solid var(--col-back3);
  clip-path: polygon(0% 15%, 100% 0%, 100% 100%, 0% 85%);
}

blockquote p {
  font-style: italic;
  text-align: center;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
}

ul, ol {
  padding-left: $layout_paddinglist;
}

ul {
  list-style-type: square;
}

li {
  margin-top: 0.8em;
}

strong, a {
  font-weight: 400;
}

del {
  color: var(--col-hint2);
}

.note {
  font-size: 0.85em;
  text-align: center;
  margin-top: 0.85em;
}

.time {
  font-weight: 400;
  margin-top: 0;
  color: var(--col-fore2);
}

.words {
  font-style: italic;
  margin-top: 0;
  margin-bottom: 2em;
}
