:root {
  font-size: $type_body_size;
}

// IE fixes
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  :root {
    font-size: 140%;
  }

  header, footer, main, article, aside, details, summary {
    display: block;
  }

  .book * {
    position: relative;
  }

  .coursevideo {
    display: none;
  }
}

html {
  min-height: 100%;
  scroll-behavior: smooth;
}

body {
  font-family: $type_body_font;
  font-size: 100%;
  font-weight: $type_body_weight;
  line-height: $type_body_lineheight;
  min-height: 100%;
  @include reset;
  color: $theme_fore1;
  background-color: $theme_back2;
  overflow-y: scroll;
}

main {
  background-color: $theme_back1;
}
