h1, h2, h3, summary, dt, blockquote {
  font-family: $type_head_font;
  font-weight: $type_head_weight;
  line-height: $type_head_lineheight;
  color: $theme_fore2;
  scroll-margin-top: 4rem;
}

h1 {
  font-size: calc(2 * $type_head_size);

  span {
    display: block;
    font-size: 0.5em;
  }
}

h2 {
  font-size: calc(1.5 * $type_head_size);
}

h2, h3, summary, dt {
  margin-top: 2em;
}

h3, summary, dt, blockquote, .intro {
  font-size: $type_head_size;
  font-weight: $type_head_weight;
}

a.headlink:link, a.headlink:visited {
  visibility: hidden;
  font-size: 0.75em;
  vertical-align: top;
  text-decoration: none;
  outline: 0 none;
  user-select: none;

  :hover > &, :active > & :focus > & {
    visibility: visible;
  }
}
