h1, h2, h3, dt, blockquote {
  font-family: $type_head_font;
  font-weight: $type_head_weight;
  line-height: $type_head_lineheight;
  color: var(--col-fore2);
}

h1 {
  font-size: calc(2 * $type_head_size);

  span {
    display: block;
    font-size: 0.5em;
  }
}

h2 {
  font-size: calc(1.5 * $type_head_size);
}

h2, h3, dt {
  margin-top: 2em;
}

h3, dt, blockquote, .intro {
  font-size: $type_head_size;
  font-weight: $type_head_weight;
}
