a:link, a:visited {
  text-decoration: underline;
  color: $theme_link1;
  outline-offset: 0.2em;
}

a:hover, a:focus, a:active {
  outline: 2px dotted currentColor;
  filter: $theme_hover;
}

.button, .button:link, .button:visited {
  display: block;
  line-height: 2;
  width: 8em;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  padding: 0 1em;
  margin: 0 auto;
  color: $theme_fore1;
  background-color: $theme_link2;
  border-radius: 0.2em;
}
