$chaptersize: 2.5em;
$chapterpad: 3em;

body {
  counter-set: h1Num -1;
}

ol.courselist {

  &, ol {
    font-weight: $type_body_weight;
    list-style-type: none;
    counter-reset: h2Num;
  }

  ol, li {
    margin-top: 0.2em;
  }

  & > li {
    font-weight: 400;
    margin-top: 1em;
  }

  li::before {
    float: left;
    width: $chaptersize;
    font-variant-numeric: tabular-nums;
    text-align: right;
    margin-left: -$chapterpad;
  }

  & > li::before {
    content: counter(h1Num) '.';
    counter-increment: h1Num;
  }

  ol > li::before {
    content: counter(h1Num) '.' counter(h2Num) '.';
    counter-increment: h2Num;
  }

  code {
    font-size: 0.9em;
    padding: 0 0.3em;
    border: 0 none;
  }

}
