// animated SVG
#docker-whale {
  animation: whale 2s ease-in-out 0s 4.5 alternate;
}

@keyframes whale {
  0% { transform: rotate(-1deg) translateY(-2%); }
  to { transform: rotate(1deg) translateY(2%); }
}

path#docker-sea {
  animation: sea 2s ease-in-out 0s 4.5 alternate;
}

@keyframes sea {
  0% { transform: translateX(2%); }
  to { transform: translateX(-2%); }
}
