#menu {

  user-select: none;

  .active {
    font-weight: bold;
    pointer-events: none;
  }

  & > ul, ul ul {
    display: none;
  }

  & #menuopen:checked ~ ul, ul input:checked ~ ul {
    display: block;
  }

}
