.nextback {

  ul {
    display: flex;
    flex-direction: row-reverse;
    list-style-type: none;
    margin-top: 4em;
  }

  li {
    flex: 1 1 50%;
    padding: 0 calc($layout_padding / 2);
    margin: 0;
  }

  .back {
    text-align: right;
  }

  a {
    display: block;
    text-decoration: none;
    outline: 0 none;
  }

  em {
    display: block;
    font-size: 0.85em;
    color: $theme_fore1;
  }

  strong {
    display: block;
    text-decoration: underline;
  }

  a:hover, a:active, a:focus {
    strong {
      outline: 2px dotted currentColor;
      outline-offset: 0.2em;
    }
  }
}
