main article:first-child {
  padding-top: 4em;
}

.primary > *:not(blockquote):not(aside):not(ul):not(ol):not(pre),
.primary ul, .primary ol,
.pagenav > *,
.taglist > *,
.nextback > *,
blockquote p,
aside p
{
  max-width: $layout_width;
  @include mainsize;
}

.primary ul, .primary ol {
  padding-left: calc($layout_padding + $layout_paddinglist);

  ul, ol {
    padding-left: $layout_paddinglist;
  }
}
