header, footer {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  justify-content: center;
  gap: 4vw;
  margin: 0 auto;
  padding: 10vh 5vw;
  background-color: #1c2227;
  background-position: 0 100%;
  background: repeating-linear-gradient(
    -5deg,
    #232c33,
    #232c33 200px,
    #1c2227 200px,
    #1c2227
  );

  & > * {
    max-width: 30em;
  }
}
