/*
box reset
*/
@mixin reset {
  padding: 0;
  margin: 0;
}

@mixin resetlist {
  list-style-type: none;
  @include reset;
}

@mixin mainsize {
  padding-left: $layout_padding;
  padding-right: $layout_padding;
  margin-left: auto;
  margin-right: auto;
}

/*
responsive breakpoint mixin:
@include respond('medium') { ... }
*/
@mixin respond($bp) {
  @media (min-width: map-get($breakpoint, $bp)) {
    @content;
  }
}
