---
permalink: /_redirects
eleventyExcludeFromCollections: true
---
/index / 301
/welcome / 301
/home / 301
/topic /tag/ 301
/topics /tag/ 301
/subject /tag/ 301
/subjects /tag/ 301
/blog /tutorials/ 301
/blogs /tutorials/ 301
/article /tutorials/ 301
/articles /tutorials/ 301
/privacy /privacy-policy/ 301
/courses /course/ 301
/video /course/samples/ 301
/videos /course/samples/ 301
/sample /course/samples/ 301
/samples /course/samples/ 301
/example /course/samples/ 301
/examples /course/samples/ 301
/excerpt /course/samples/ 301
/excerpts /course/samples/ 301
/install /tutorials/install-docker/ 301
/installation /tutorials/install-docker/ 301
/clear /tutorials/clean-up-docker/ 301
/clean /tutorials/clean-up-docker/ 301
/live /tutorials/docker-live-course/ 301
