---
permalink: /_redirects
eleventyExcludeFromCollections: true
---
/index / 301
/welcome / 301
/home / 301
/topic* /tag/ 301
/subject* /tag/ 301
/article* /tutorials/ 301
/blog* /tutorials/ 301
/priv* /privacy-policy/ 301
/cours* /course/ 301
/vid* /course/samples/ 301
/exam* /course/samples/ 301
/samp* /course/samples/ 301
/excer* /course/samples/ 301
/instal* /tutorials/install-docker/ 301
/clea* /tutorials/clean-up-docker/ 301
/liv* /tutorials/docker-live-course/ 301
