// reset styles
*, *:before, *:after {
  box-sizing: border-box;
  @include reset;

  @media (prefers-reduced-motion: reduce) {
    transition-duration: 1ms !important;
    animation-duration: 1ms !important;
  }

}

img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 1.5em auto;
}
