.slantdark1 {
  background: repeating-linear-gradient(
    -4deg,
    $theme_back1,
    $theme_back1 30%,
    $theme_back2 30%,
    $theme_back2
  ) no-repeat 0 0;
  background-size: 100% 15rem;
}

.slantdark5 {
  background: repeating-linear-gradient(
    -5deg,
    $theme_back1,
    $theme_back1 20%,
    $theme_back2 20%,
    $theme_back2
  );
}

.slantlight2 {
  background: repeating-linear-gradient(
    2deg,
    $theme_back2,
    $theme_back2 80%,
    $theme_back1 80%,
    $theme_back1
  );
}
