:root {

  // dark theme
  --col-fore1: $theme_dark_fore1;
  --col-fore2: $theme_dark_fore2;
  --col-back1: $theme_dark_back1;
  --col-back2: $theme_dark_back2;
  --col-back3: $theme_dark_back3;
  --col-link1: $theme_dark_link1;
  --col-link2: $theme_dark_link2;
  --col-link3: $theme_dark_link3;
  --col-hint1: $theme_dark_hint1;
  --col-hint2: $theme_dark_hint2;
  --col-hover: $theme_dark_hover;

  @media (prefers-color-scheme: light) {

    // light theme
    --col-fore1: $theme_light_fore1;
    --col-fore2: $theme_light_fore2;
    --col-back1: $theme_light_back1;
    --col-back2: $theme_light_back2;
    --col-back3: $theme_light_back3;
    --col-link1: $theme_light_link1;
    --col-link2: $theme_light_link2;
    --col-link3: $theme_light_link3;
    --col-hover: $theme_light_hover;

  }

}
