<ul class="prices">

<li class="feature">
<a data-view="buyall" href="https://gum.co/DockerWebDev/black?wanted=true">
<h2>full course</h2>
<p class="price"><del>$99</del> $50 <span>&pound;43 &nbsp;/&nbsp; &euro;49</span></p>
<p class="button">buy all</p>
</a>
</li>

<li>
<a data-view="buybook" href="https://gum.co/DockerWebDevBook/black?wanted=true">
<h2>ebooks only</h2>
<p class="price"><del>$30</del> $15 <span>&pound;13 &nbsp;/&nbsp; &euro;15</span></p>
<p class="button">buy books</p>
</a>
</li>

<li>
<a data-view="buyvideo" href="https://gum.co/DockerWebDevVideos/black?wanted=true">
<h2>videos only</h2>
<p class="price"><del>$80</del> $40 <span>&pound;34 &nbsp;/&nbsp; &euro;40</span></p>
<p class="button">buy videos</p>
</a>
</li>

</ul>

<p class="note"><em>plus your country's sales tax where applicable</em></p>
