<ul class="prices">

<li class="feature">
<a data-view="buyall" href="https://gum.co/DockerWebDev?wanted=true">
<h2>full course</h2>
<p class="price">$99 <span>&pound;74 &nbsp;/&nbsp; &euro;87</span></p>
<p class="button">buy all</p>
</a>
</li>

<li>
<a data-view="buybook" href="https://gum.co/DockerWebDevBook?wanted=true">
<h2>ebooks only</h2>
<p class="price">$30 <span>&pound;22 &nbsp;/&nbsp; &euro;26</span></p>
<p class="button">buy books</p>
</a>
</li>

<li>
<a data-view="buyvideo" href="https://gum.co/DockerWebDevVideos?wanted=true">
<h2>videos only</h2>
<p class="price">$80 <span>&pound;60 &nbsp;/&nbsp; &euro;71</span></p>
<p class="button">buy videos</p>
</a>
</li>

</ul>

<p class="note"><em>plus your country's sales tax where applicable</em></p>
