<footer class="flex2 slantlight2">

  <section>

    <div id="intent">

      <h2>Share page</h2>

      <ul class="iconlist">
        <li id="shareapp"><a data-view="share" href="#shareapp" class="icon share">device app</a></li>
        <li><a data-view="sharetwitter" href="https://twitter.com/intent/tweet?url=$url$&amp;text=$title$" class="social icon twitter">Twitter</a></li>
        <li><a data-view="sharefacebook" href="https://www.facebook.com/sharer/sharer.php?u=$url$" class="social icon facebook">Facebook</a></li>
        <li><a data-view="sharelinkedin" href="http://www.linkedin.com/shareArticle?mini=true&url=$url$&amp;title=$title$" class="social icon linkedin">LinkedIn</a></li>
        <li><a data-view="shareemail" href="mailto:?subject=$title$&amp;body=$url$" class="social icon email">email</a></li>
        <li id="shareurl" class="copyable"><a data-view="sharecopy" href="#shareurl" class="icon copy" data-copyable="$url$" data-copyable-done="URL copied">copy URL</a></li>
      </ul>

    </div>

    <div id="install">

      <h2>Install</h2>

      <ul class="iconlist">
        <li><a href="#install" data-view="install" class="icon download">add to home screen</a></li>
      </ul>

    </div>

    <h2>Subscribe</h2>

    <ul class="iconlist">
      <li><a data-view="newsletter" href="https://tinyletter.com/dockerwebdev" class="icon news">email newsletter</a></li>
      <li><a data-view="rss" href="{{ '/feed.xml' | url }}" class="icon rss">RSS feed</a></li>
    </ul>

    <p>Subscribers are under no obligation to buy the course. Your email address is securely stored: I won't give it to anyone else or send spam. See the <a href="{{ '/privacy-policy' | url }}">privacy policy</a>.</p>

  </section>

  <section id="contact">

    <h2>Contact</h2>

    <ul class="iconlist">
      <li><a data-view="email" href="#" class="icon email">craig {at} dockerwebdev dot com</a></li>
      <li><a data-view="chatroom" href="https://discord.com/channels/714109256072429630/714110949409423433" class="icon chat">course chat room</a></li>
      <li><a data-view="twitter" href="https://twitter.com/craigbuckler" class="icon twitter">@craigbuckler</a></li>
    </ul>

  </section>

</footer>
