<footer class="flex2 slantlight2">

  <section>

    <div id="install">

      <h2>Install</h2>

      <p><a href="#install" data-view="install" class="icon download"">add to home screen</a></p>

    </div>

    <h2>Newsletter</h2>

    <p><a data-view="newsletter" href="https://tinyletter.com/dockerwebdev" class="icon news">subscribe to the newsletter</a></p>

    <p>Subscribers are under no obligation to buy the course. I'll contact you when something interesting happens. Your email will be held securely, I won't give it to anyone else, and I won't send spam. See the <a href="{{ '/privacy-policy' | url }}">privacy policy</a>.</p>

  </section>

  <section id="contact">

    <h2>Contact</h2>

    <ol class="iconlist">
      <li><a data-view="email" href="#" class="icon email">craig {at} dockerwebdev dot com</a></li>
      <li><a data-view="chatroom" href="https://discord.com/channels/714109256072429630/714110949409423433" class="icon chat">course chat room</a></li>
      <li><a data-view="twitter" href="https://twitter.com/craigbuckler" class="icon twitter">@craigbuckler</a></li>
    </ol>

  </section>

</footer>
