<footer class="flex2 slantlight2">

  <section>

    <h2>Newsletter</h2>

    <p><a class="icon news" data-view="newsletter" href="https://tinyletter.com/dockerwebdev">subscribe to the newsletter</a></p>

    <p>Subscribers may receive offers but are under no obligation to buy the course. I'll only contact you when something interesting happens. Your email address will be held securely, I won't give it to anyone else, and I won't send spam. See the <a href="{{ '/privacy-policy' | url }}">privacy policy</a>.</p>

  </section>

  <section id="contact">

    <h2>Contact</h2>

    <ol class="iconlist">
      <li><a data-view="email" href="mailto:craig@dockerwebdev.com" class="icon email">craig@dockerwebdev.com</a></li>
      <li><a data-view="chatroom" href="https://discord.com/channels/714109256072429630/714110949409423433" class="icon chat">private chat room</a> for registered course users</li>
      <li><a data-view="twitter" href="https://twitter.com/craigbuckler" class="icon twitter">@craigbuckler</a></li>
    </ol>

  </section>

</footer>
