<!DOCTYPE html>
<html lang="{% meta 'language' %}">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{{ title }}</title>

  <!-- preload assets -->
  <link rel="preload" href="{{ '/css/main.css' | url }}" as="style" />
  <link rel="preload" href="{{ '/js/main.js' | url }}" as="script" />

  <!-- meta data -->
  <meta name="description" content="{{ description }}" />
  {% if keywords %}<meta name="keywords" content="{{ keywords }}, {% meta 'keywords' %}" />{% endif %}
  <meta name="author" content="{% meta 'author' %}" />
  <meta name="robots" content="index, follow" />

  <!-- application -->
  <meta name="application-name" content="{% meta 'site' %}" />
  <meta name="theme-color" content="{% meta 'themecolor' %}" />

  <!-- icons -->
  <link rel="icon" type="image/svg+xml" href="{{ '/images/icon.svg' | url }}">

  <!-- feed -->
  <link rel="alternate" type="application/rss+xml" title="RSS: {% meta 'site' %}" href="{% meta 'url' %}{{ '/feed.xml' | url }}" >
  <link rel="alternate" type="application/atom+xml" title="Atom: {% meta 'site' %}" href="{% meta 'url' %}{{ '/feed.xml' | url }}" />

  <!-- social media -->
  <meta property="og:site_name" content="{% meta 'site' %}">
  <meta property="og:url" content="{% meta 'url' %}{{ page.url | url }}">
  <meta property="og:title" content="{{ title }}">
  <meta property="og:description" content="{{ description }}">
  <meta property="og:image" content="{% meta 'url' %}{{ '/images/ad.png' | url }}">
  <meta property="og:type" content="article">
  <meta property="og:locale" content="{% meta 'language' %}">

  <meta property="twitter:card" content="summary">
  <meta property="twitter:site" content="{% meta 'twitter' %}">
  <meta property="twitter:creator" content="{% meta 'twitter' %}">
  <meta name="twitter:card" content="summary_large_image">
  <meta property="twitter:title" content="{{ title }}">
  <meta property="twitter:description" content="{{ description }}">
  <meta property="twitter:image" content="{% meta 'url' %}{{ '/images/ad.png' | url }}">

  <!-- critical CSS -->
  <link rel="stylesheet" href="/css/critical.css" inline />

</head>
<body>
