<!DOCTYPE html>
<html lang="{% meta 'language' %}">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1.0" />
  <title>{{ title }}</title>

  <!-- settings -->
  {% set cssMainUrl %}/css/main.css?{% meta 'version' %}{% endset %}
  {% set jsMainUrl %}/js/main.js?{% meta 'version' %}{% endset %}
  {% set jsAnalyticsUrl %}/js/a.js?{% meta 'version' %}{% endset %}
  {% set imageShareUrl %}/images/share/{% if shareimage %}{{ shareimage }}{% else %}docker-for-web-developers.png{% endif %}{% endset %}

  <!-- preload main CSS -->
  <link rel="preload" href="{{ cssMainUrl | url }}" as="style" />

  <!-- main ES6 modules -->
  <script type="module" src="{{ jsMainUrl | url }}" defer></script>

  <!-- analytics ES5 -->
  {% set analytics %}{% meta 'analytics' %}{% endset %}
  {% if analytics %}<script src="{{ jsAnalyticsUrl | url }}" defer></script>{% endif %}

  <!-- critical CSS -->
  <link rel="stylesheet" href="/css/critical.css"{% if global.prod %} inline{% endif %} />

  <!-- main CSS -->
  <link rel="stylesheet" href="{{ cssMainUrl | url }}" media="print" onload="this.media='all'" />
  <noscript><link rel="stylesheet" href="{{ cssMainUrl | url }}" /></noscript>

  <!-- manifest -->
  <link rel="manifest" href="{{ '/manifest.webmanifest' | url }}" />

  <!-- meta data -->
  <meta name="description" content="{{ description }}" />
  {% if keywords %}<meta name="keywords" content="{{ keywords }}, {% meta 'keywords' %}" />{% endif %}
  <meta name="author" content="{% meta 'author' %}" />
  <meta name="robots" content="index, follow" />

  <!-- application -->
  <meta name="application-name" content="{% meta 'site' %}" />
  <meta name="theme-color" content="{% meta 'token_theme_color' %}" />
  <meta name="mobile-web-app-capable" content="yes" />
	<meta name="apple-touch-fullscreen" content="yes" />
	<meta name="apple-mobile-web-app-title" content="{% meta 'site' %}" />
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="apple-mobile-web-app-status-bar-style" content="default" />

  <!-- icons -->
  <link rel="icon" sizes="192x192" href="{{ '/images/icons/docker-192.png' | url }}" />
  <link rel="icon" sizes="152x152" href="{{ '/images/icons/docker-152.png' | url }}" />
  <link rel="icon" sizes="120x120" href="{{ '/images/icons/docker-120.png' | url }}" />
  <link rel="icon" sizes="76x76" href="{{ '/images/icons/docker-076.png' | url }}" />

  <link rel="apple-touch-icon" sizes="192x192" href="{{ '/images/icons/docker-192.png' | url }}" />
  <link rel="apple-touch-icon" sizes="152x152" href="{{ '/images/icons/docker-152.png' | url }}" />
  <link rel="apple-touch-icon" sizes="120x120" href="{{ '/images/icons/docker-120.png' | url }}" />
  <link rel="apple-touch-icon" sizes="76x76" href="{{ '/images/icons/docker-076.png' | url }}" />
  <link rel="apple-touch-startup-image" href="{{ '/images/icons/docker-512.png' | url }}">

  <link rel="shortcut icon" href="{{ '/images/icons/logo.png' | url }}">
  <link rel="shortcut icon" type="image/svg+xml" href="{{ '/images/icons/logo.svg' | url }}" />

  <!-- feed -->
  <link rel="sitemap" type="application/xml" href="{% meta 'url' %}{{ '/sitemap.xml' | url }}" />
  <link rel="alternate" type="application/rss+xml" title="{% meta 'site' %}" href="{% meta 'url' %}{{ '/feed.xml' | url }}" />
  <link rel="alternate" type="application/atom+xml" title="{% meta 'site' %}" href="{% meta 'url' %}{{ '/feed.xml' | url }}" />

  <!-- social media -->
  <meta property="og:site_name" content="{% meta 'site' %}">
  <meta property="og:url" content="{% meta 'url' %}{{ page.url | url }}">
  <meta property="og:title" content="{{ title }}">
  <meta property="og:description" content="{{ description }}">
  <meta property="og:image" content="{% meta 'url' %}{{ imageShareUrl | url }}">
  <meta property="og:type" content="article">
  <meta property="og:locale" content="{% meta 'language' %}">

  <meta property="twitter:card" content="summary">
  <meta property="twitter:site" content="{% meta 'twitter' %}">
  <meta property="twitter:creator" content="{% meta 'twitter' %}">
  <meta name="twitter:card" content="summary_large_image">
  <meta property="twitter:title" content="{{ title }}">
  <meta property="twitter:description" content="{{ description }}">
  <meta property="twitter:image" content="{% meta 'url' %}{{ imageShareUrl | url }}">

</head>
<body>
