{% if collection %}

  {% set nextPost = collections[ collection ] | getNextCollectionItem(page) %}
  {% set previousPost = collections[ collection ] | getPreviousCollectionItem(page) %}

  {% if nextPost or previousPost %}

    {% if reversed %}
      {% set next = 'next' %}
      {% set prev = 'previous' %}
    {% else %}
      {% set next = 'previous' %}
      {% set prev = 'next' %}
    {% endif %}

    <nav id="nextback">
      {% if nextPost %}<p class="next"><em>{{ next }}:</em> <a href="{{ nextPost.url | url }}">{{ nextPost.data.title }}</a></p>{% endif %}
      {% if previousPost %}<p class="prev"><em>{{ prev }}:</em> <a href="{{ previousPost.url | url }}">{{ previousPost.data.title }}</a></p>{% endif %}
    </nav>

  {% endif %}

{% endif %}
