{% if collection %}

  {% set nextPost = collections[ collection ] | getNextCollectionItem(page) %}
  {% set previousPost = collections[ collection ] | getPreviousCollectionItem(page) %}

  {% if nextPost or previousPost %}

    {% if reversed %}
      {% set next = 'next' %}
      {% set back = 'back' %}
    {% else %}
      {% set next = 'back' %}
      {% set back = 'next' %}
    {% endif %}

    <nav class="nextback {{ back }}">

      <ul>

        <li class="{{ next }}">
          {% if nextPost %}
            <a href="{{ nextPost.url | url }}">
              <em class="icon {{ next }}">{{ next }}</em>
              <strong>{{ nextPost.data.title }}</strong>
            </a>
          {% endif %}
        </li>

        <li class="{{ back }}">
          {% if previousPost %}
            <a href="{{ previousPost.url | url }}">
              <em class="icon {{ back }}">{{ back }}</em>
              <strong>{{ previousPost.data.title }}</strong>
            </a>
          {% endif %}
        </li>

      </ul>

    </nav>

  {% endif %}

{% endif %}
