{% if pagedlist %}
  <ul>

    {%- for post in pagedlist -%}
      <li>
        <h2><a href="{{ post.url | url }}">
          {{ post.data.title }}
        </a></h2>

        {% if post.data.date %}<p class="time"><time datetime="{{ post.data.date | dateymd }}">{{ post.data.date | datefriendly }}</time></p>{% endif %}

        <p>{{ post.data.description }}</p>
      </li>
    {%- endfor -%}

  </ul>
{% endif %}
