{% if pagination.href.previous or pagination.href.next %}
  <nav class="nextback">

    <ul>
    {% if pagination.href.next %}
      <li class="next"><a href="{{ pagination.href.next | url }}" class="icon right">
        <strong>older tutorials</strong>
      </a></li>
    {% endif %}

    {% if pagination.href.previous %}
      <li class="back"><a href="{{ pagination.href.previous | url }}" class="icon left">
        <strong>newer tutorials</strong>
      </a></li>
    {% endif %}
    </ul>

  </nav>
  {% endif %}
