{% if tags %}
<nav class="tags">

  <p>Topics referenced in this tutorial:</p>

  <ul>
    {% for tag in tags %}
      {% set tagUrl %}/tag/{{ tag | normalise }}{% endset %}
      <li><a href="{{ tagUrl | url }}/">{{ tag }}</a></li>
    {% endfor %}
  </ul>

</nav>
{% endif %}
