{% if tags %}
<nav class="taglist">

  <ul>
    <li>topics:</li>
    {% for tag in tags %}
      {% set tagUrl %}/tag/{{ tag | normalise }}{% endset %}
      <li><a href="{{ tagUrl | url }}/" class="icon tag">{{ tag }}</a></li>
    {% endfor %}
  </ul>

</nav>
{% endif %}
